<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= locals.title %></title>
    <meta property="og:title" content="JokeRobot Programming Jokes." />
    <meta property="og:url" content="https://jokerobot.netlify.app/" />
    <meta name="image" property="og:image" content="https://jokerobot.netlify.app/images/robot.png" />
    <meta property="og:type" content="application/javascript" />
    <meta property="og:description" content="JokeRobot is a simple web application that tells programming jokes. Have some fun using this with your coworkers." />
    <meta property="og:locale" content="en_GB" />
    <meta name="author" content="Andreas Steffensen">
    <meta name='date' content='Jan. 6, 2020'>
    <link rel="stylesheet" href="/assets/main.css?<%- cacheBust.mainCss %>" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
  </head>
  <body>
    <main>
      <%- content -%>
      <div class="container">
        <button id="button">Tell Me A Joke</button>
        <audio id="audio" controls hidden></audio>
      </div>
    </main>
    <script src="/assets/vendor.js?<%- cacheBust.vendorJs %>"></script>

    <script src="/assets/main.js?<%- cacheBust.mainJs %>"></script>
    
  </body>
</html>
